*~
*.mod
*.rst
*.pyc
.DS_store
history.sqlite
*.o
sphinx/
*minute*
*.swp
*-swp
.*project
bin/profile_davitpy/security/kernel*
*rootmodules*
*.prof
*.log
*.xcworkspace
*.sublime-workspace
*.sublime-project
*.orig
build
_build
sphinx
radars.hdf5*
radars.hdf5
radars.sqlite*
radars.sqlite
*.so
rtFort
docs/notebook/.ipynb_checkpoints

# Python Repository Ignores as Recommended by github.com########################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

.ipynb_checkpoints

*.py#
