*~
*.pyc
.DS_store
history.sqlite
*.o

*minute*
*.swp
*-swp
.*project
bin/profile_davitpy/security/kernel*
*rootmodules*
*.prof
*.log
*.xcworkspace
*.sublime-workspace
*.sublime-project
*.orig
models/aacgm/build
