*~
*.mod
*.rst
*.pyc
.DS_store
history.sqlite
*.o
sphinx/
*minute*
*.swp
*-swp
.*project
bin/profile_davitpy/security/kernel*
*rootmodules*
*.prof
*.log
*.xcworkspace
*.sublime-workspace
*.sublime-project
*.orig
build
_build
sphinx
radars.hdf5*
radars.hdf5
*.so
rtFort
